$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html {
  // font-family: sans-serif;
  // font-family:'wf_segoe-ui_light';
  // src:url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.eot');
}

@font-face {
    font-family: pokeFont;
    src: url('PokemonSolid.ttf');
}

.mainapp {
  height: auto;
}

body {
  margin: 0;
  padding: 0px;
  font-size:calc(100% + .5vw);
  color: black;
  height: inherit;
  background-color: rgba(30, 51, 72, .1);

}
img {
  height: 100px;
}

.title {
  height: 75px;
  margin-bottom: 30px;
  align-items: center;
  position: fixed;
  z-index: 300;
  width: 100%;
  text-align: center;
  font-family: 'pokeFont';
  line-height: 75px;
  vertical-align: middle;
}

.banner {
  color: white;
  height: inherit;
  font-size: 2vw;
  letter-spacing: 4px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background: url('../images/PokeEmOn2.jpeg');
  background-repeat: repeat-x;
}

.intro {
  margin-left: 30px;
  margin-right: 30px;
  height: auto;
  align-items: center;
  position: relative;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-color: black;
  border-width: 1px;
  text-align: center;
  font-family: 'pokeFont';
  letter-spacing: 4px;
}

.mainContent {
  height: auto;
  margin-bottom: 150px;
  padding-top: 100px;

}
.content {
  padding-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  background-color: rgba(73, 95, 116, .7);
  position: relative;
  text-align: center;
  letter-spacing: 4px;
  font-family:'Verdana';
}

.subContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button {
  height: 40px;
  width: 50%;
  order: 1;
  font-size: 10px;
  padding: 0px;
  border: 0px;
  background-color: rgba(0, 0, 0, .2);
}
.button:hover {
  background-color: rgba(0, 0, 0, .5);
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}


.output {
  order: 1;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 370px;
  background-color: rgba(235, 223, 223, 1);
  margin-left: 5%;
  margin-right: 5%;
  line-height: 40px;
  vertical-align: middle;
  overflow: hidden;
  font-family:'Verdana';
}

.container {
  order: 2;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}

.footer {
  width:100%;
	height:100px;
	position: fixed;
	left: 0px;
  bottom: 0;
  z-index: 300;
  background: transparent;
  background: url('../images/PokeEmOn2.jpeg');
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
}

#newCode {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30px;
}

#generate {
  border-right-width: thin;
  border-right-color: black;
  border-right-style: solid;
}

#saveCode {
  border-left-width: thin;
  border-left-color: black;
  border-left-style: solid;
}

#savedCodes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}
#code {
  position: relative;
  z-index: 100;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
}
#overlay {
  background:rgba(0,0,0,.75);
  text-align:center;
  top: 0px;
  height: 100%;
  width: 100%;
  padding:0;
  position: absolute;
  z-index: 200;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

#code:hover #overlay {
  opacity:1;
  cursor: pointer;
  cursor: hand;
}

#plus {
  font-family:Helvetica;
  font-weight:900;
  color:rgba(255,255,255,.85);
  font-size:30px;}

.coolPokemon {
  width: 100%;
}

#removeAll {
  margin-top: 20px;
  height: 40px;
  width: 100%;
  order: 3;
}
