
.title
  .banner
    p Welcome to the Pokename site.

.intro
  p This application allows you to generate random pokemon code names!
  p Click the generate button to start.
  
.content(ng-controller='MainController')
  button.button(ng-click='add()') Generate!
  .output
    p#codeOutput(ng-bind= 'output()') 
  button.button(ng-click='saveName()') save to list!
.content(ng-controller='initCtrl')
  .output(ng-repeat='code in codeName()')
    code-name(info='code')

    
