
.title
  .banner
    p Welcome to the Pokename site.

.intro
  p This application will eventually alow you to generate pokemon code names!
  p Click the generate button to start.
  
.content(ng-controller='MainController')
  button(ng-click='add()') Test Button!
  .output
    p#codeOutput(ng-bind= 'output()') {{ output }}
  button#addCode.button(change-on-click, ng-click='add') Add code!
  button#clicky.button(ng-click='saveName()') save list!
  button#retrieveCode.button(change-on-click, ng-click='add') retrieve!
.content(ng-controller='initCtrl')
  .output(ng-repeat='code in codeName()')
    code-name(info='code')
//- .content(ng-controller='initCtrl')
//-   button(ng-click='codeName2()') Test Button!
    
