
.title
  .banner
    p Welcome to the Pokename generation site.

.mainContent  
  .content(ng-controller='MainController')
    p This application allows you to generate random pokemon code names!
    p Click the generate button to start.
    .subContent
      .output#newCode
        p#codeOutput(ng-bind= 'output()') 
      button.button#generate(ng-click='add()') Generate!
      button.button#saveCode(ng-click='saveName()') save to list!
  .content#savedCodes(ng-controller='initCtrl')
    .subContent
      p.coolPokemon Random pokemon code names are cool.
      p.coolPokemon(ng-show='codeName().length !== 0') Here are your saved code names.
      .output#code(ng-repeat='code in codeName()', ng-click='remove($index)')
        code-name(info='code')
      button.button#removeAll(ng-click='removeAll()', ng-show='codeName().length !== 0') Delete all!
    
.footer
  img(src='/images/PokeEmOn.jpeg')
    
